[submodule "dep/libjpeg-turbo"]
	path = dep/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "dep/libbacktrace"]
	path = dep/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace.git
[submodule "dep/x264"]
	path = dep/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "dep/minimp4"]
	path = dep/minimp4
	url = https://github.com/lieff/minimp4.git
[submodule "dep/sdl2"]
	path = dep/sdl2
	url = https://github.com/pseregiet/sdl2-audio-monitor.git
[submodule "dep/fdk-aac"]
	path = dep/fdk-aac
	url = https://github.com/mstorsjo/fdk-aac.git
