[submodule "dep/libjpeg-turbo"]
	path = dep/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "dep/libwebm"]
	path = dep/libwebm
	url = https://github.com/webmproject/libwebm.git
[submodule "dep/libbacktrace"]
	path = dep/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace.git
